---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ContactSection from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Contact - Mrdjan Stajic">
  <Header />
  <main>
    <ContactSection />
  </main>
  <Footer />
</Layout>
